/* Created by ARDORA www.webardora.net */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section{ display:block;} /*html5 con IE*/
#bShowSC{float:right; margin-left:20px;}
#bMoveSC_R, 
#bMoveSC_L{ float:right;}
#path{visibility:hidden; height:0px;}
#canvas01{ position:absolute; z-index:0;}
#drawBar{background:inherit;border-width:thin;margin-top:0px;padding:2px;height:277px;width:18px;position:fixed;visibility:hidden;top:100px;z-index:99999999;-webkit-box-shadow: 0px -2px 0px 0px #DDDDDD;-moz-box-shadow: 0px -2px 0px 0px #DDDDDD; box-shadow: 0px -2px 0px 0px #DDDDDD;}
#drawSliderBar{background:inherit;border-width:thin;margin-top:0px;padding:2px;padding-top:4px;padding-left:8px;visibility:hidden;height:110px;width:18px;position:fixed;top:210px;z-index:99999998;-webkit-box-shadow: 0px -2px 0px 0px #DDDDDD;-moz-box-shadow: 0px -2px 0px 0px #DDDDDD;box-shadow: 0px -2px 0px 0px #DDDDDD;}
#sliderCanvas{width:10px;float:left;}
#sliderCanvas > .ui-slider-handle {text-decoration: none;width: 15px;height: 15px;text-align: center;font-size:9px;font-style:normal;padding-bottom:3px;}
#drawSliderPoly{background:inherit;border-width:thin;margin-top:0px;padding:2px;padding-top:4px;padding-left:8px;visibility:hidden;height:110px;width:18px;position:fixed;top:140px;z-index:99999998;-webkit-box-shadow: 0px -2px 0px 0px #DDDDDD;-moz-box-shadow: 0px -2px 0px 0px #DDDDDD;box-shadow: 0px -2px 0px 0px #DDDDDD;}
#sliderPoly{width:10px;float:left;}
#sliderPoly > .ui-slider-handle {text-decoration: none;width: 15px;height: 15px;text-align: center;font-size:9px;font-style:normal;padding-bottom:3px;}
.drawBarClassR{right:0;}
.drawBarClassL{left:0;}
.drawSliderBarClassR{right:25px;}
.drawSliderBarClassL{left:25px;}
#drawPen{background-image: url("../img/trazo.png") !important;}
#drawLine{background-image: url("../img/linea.png") !important;}
#drawRectangle{ background-image: url("../img/cadrado.png") !important; background-repeat:no-repeat;}
#drawCircle{ background-image: url("../img/circulo.png") !important; background-repeat:no-repeat;}
#drawPoint{ background-image: url("../img/flecha.png") !important; background-repeat:no-repeat;}
#drawFill{background-image: url("../img/pinga0.png") !important; background-repeat:no-repeat;}
#drawPoly{background-image: url("../img/poly.png") !important; background-repeat:no-repeat;}
#drawColor{	background:none; background-color:#000000; margin-top:12px;}
#bDrawSave{margin-bottom:10px;}
#bDrawCancel{margin-top:10px;}
#bdrawWidth{cursor:pointer;}
div.buttonDraw{margin-top:3px;-webkit-box-shadow: 0px -2px 0px 0px #DDDDDD;-moz-box-shadow: 0px -2px 0px 0px #DDDDDD;box-shadow: 0px -2px 0px 0px #DDDDDD; }
div.buttonTop{cursor:pointer;height:14px;width:14px;padding:2px;float:left;-webkit-box-shadow: 0px -2px 0px 0px #DDDDDD;-moz-box-shadow: 0px -2px 0px 0px #DDDDDD;box-shadow: 0px -2px 0px 0px #DDDDDD;}
div.buttonTopSep{cursor:pointer;height:14px;width:14px;padding:2px;float:left;margin-right:14px;-webkit-box-shadow: 0px -2px 0px 0px #DDDDDD;-moz-box-shadow: 0px -2px 0px 0px #DDDDDD;box-shadow: 0px -2px 0px 0px #DDDDDD;}
div.pullLT{background-color:transparent;position:absolute;top:0px;left:0px;cursor:se-resize;visibility:hidden;height:10px;width:10px;padding:2px;}
div.pullRT{background-color:transparent;position:absolute;top:0px;left:240px;cursor:ne-resize;visibility:hidden;height:10px;width:10px;padding:2px;}
div.pullLB{background-color:transparent;position:absolute;top:130px;left:0px;cursor:sw-resize;visibility:hidden;height:10px;width:10px;padding:2px;}
div.pullRB{background-color:transparent;position:absolute;top:130px;left:240px;cursor:nw-resize;visibility:hidden;height:10px;width:10px;padding:2px;}
div.pullXira{background-color:transparent;position:absolute;top:130px;left:240px;cursor:pointer;visibility:hidden;height:10px;width:10px;padding:2px;}
div.pullBorrar{background-color:transparent;position:absolute;top:130px;left:240px;cursor:pointer;visibility:hidden;height:10px;width:10px;padding:2px;}
div.pullCancela{background-color:transparent;position:absolute;top:130px;left:240px;cursor:pointer;visibility:hidden;height:10px;width:10px;padding:2px;}
div.pullEdita{background-color:transparent;position:absolute;top:130px;left:240px;cursor:pointer;visibility:hidden;height:10px;width:10px;padding:2px;}
div.pullGrava{background-color:transparent;position:absolute;top:130px;left:240px;cursor:pointer;visibility:hidden;height:30px;width:40px;padding:2px;}
#areaTextTool{position:absolute;padding:1px;height:0px;visibility:hidden;width:0px;float:left;margin:0px;}
div.pullTextTool{height:10px;width:10px;padding:2px;}
#text_l{visibility:hidden;position:absolute;height:25px;width:25px;padding:1px;margin:0px;top:25px;left:55px;cursor:pointer;}
#text_c{visibility:hidden;position:absolute;height:25px;width:25px;padding:1px;margin:0px;margin-right:10px;top:50px;left:55px;cursor:pointer;}
#text_r{visibility:hidden;position:absolute;height:25px;width:25px;padding:1px;margin:0px;top:25px;left:80px;cursor:pointer;}
#text_j{visibility:hidden;position:absolute;height:25px;width:25px;padding:1px;margin:0px;margin-right:10px;top:50px;left:80px;cursor:pointer;}
.btext_l{background-image: url('../img/text_align_left.png') !important;background-position:center;background-repeat:no-repeat;}
.btext_r{background-image: url('../img/text_align_right.png') !important;background-position:center;background-repeat:no-repeat;}
.btext_c{background-image: url('../img/text_align_center.png') !important;background-position:center;background-repeat:no-repeat;}
.btext_j{background-image: url('../img/text_align_justify.png') !important;background-position:center;background-repeat:no-repeat;}
#opaMais{visibility:hidden;position:absolute;height:25px;width:25px;padding:1px;margin:0px;top:0px;left:110px;cursor:pointer;}
#opaMenos{visibility:hidden;position:absolute;height:25px;width:25px;padding:1px;margin:0px;margin-right:10px;top:0px;left:135px;cursor:pointer;}
.contrast_p{background-image: url('../img/contrast_increase.png') !important;background-position:center;background-repeat:no-repeat;}
.contrast_m{background-image: url('../img/contrast_decrease.png') !important;background-position:center;background-repeat:no-repeat;}
#border0{visibility:hidden;position:absolute;height:25px;width:25px;padding:1px;margin:0px;top:25px;left:110px;cursor:pointer;}
#border1{visibility:hidden;position:absolute;height:25px;width:25px;padding:1px;margin:0px;margin-right:10px;top:25px;left:135px;cursor:pointer;}
.photo_add{background-image: url('../img/photo_add.png') !important;background-position:center;background-repeat:no-repeat;}
.photo_delete{background-image: url('../img/photo_delete.png') !important;background-position:center;background-repeat:no-repeat;}
#backColor{visibility:hidden;position:absolute;height:25px;width:25px;padding:1px;margin:0px;top:50px;left:110px;cursor:pointer;}
#backTrans{visibility:hidden;position:absolute;height:25px;width:25px;padding:1px;margin:0px;margin-right:10px;top:50px;left:135px;cursor:pointer;}
.shape_square_add{background-image: url('../img/shape_square_add.png') !important;background-position:center;background-repeat:no-repeat;}
.shape_square_delete{background-image: url('../img/shape_square_delete.png') !important;background-position:center;background-repeat:no-repeat;}
#Agrande{font-size:14px;position:absolute;margin:0px;padding:1px;width:25px;height:25px;cursor:pointer;top:0px;left:0px;}
#Apeque{position:absolute;font-size:10px;margin:0px;padding:1px;width:25px;height:25px;cursor:pointer;top:0px;left:25px;}
#bold{position:absolute;font-size:14px;font-weight:bold;margin:0px;padding:1px;width:25px;height:25px;cursor:pointer;top:25px;left:0px;}
#italic{position:absolute;font-family:"Times New Roman", Times, serif;font-size:14px;font-style:italic;margin:0px;padding:1px;width:25px;height:25px;cursor:pointer;top:25px;left:25px;}
#fontColor{position:absolute;font-size:14px;color:#FF8040;margin:0px;padding:1px;width:50px;height:25px;cursor:pointer;top:50px;left:0px;}
#openTextTool{position:absolute;visibility:hidden;}
.dialogW{padding:2px;text-align:left;} 
 #texto,
#fontName{padding-bottom:3px;margin-bottom:3px;}
.clear{padding:2px;clear:both;}
#errorOpen{position:fixed;visibility:hidden;bottom:28px;cursor:wait;z-index:9999999999;height:auto;}
#errorOpen span{float: left; margin-right: .3em;}
#erroOpenU span{float:left;margin-right: .3em;}
#loading,
#loadingPro,
#loadingMedia{width:26px;height:26px;background: url('../img/loading.gif');display:none;margin: 0 auto;text-align: center;}
#buserDataText{ width:auto; float:right; padding-left:10px; padding-right:10px; cursor:default;}
#estadoUpLoad,
#estadoUpLoadMedia,
#estadoUpLoadBack,
#estadoUpLoadPro{display:none;border: 0px;overflow:hidden;margin: 0 auto;text-align: center;height:1px;}
.buttonIma{ visibility:hidden; position:absolute; cursor:pointer}
.imageHide{ visibility:hidden; position:absolute;}
.selec { text-align:center; position:absolute; border:solid; border-color:#1A1A1A;transform:rotate(0deg);-ms-transform:rotate(0deg);-webkit-transform:  rotate(0deg) ;-moz-transform: rotate(0deg) ;-o-transform:  rotate(0deg);-ms-filter progid:DXImageTransform.Microsoft.Alpha(Opacity=100);filter:alpha(opacity=100); opacity:1;}
.ui-draggable-helperMoving {border: 1px dotted #000; padding: 6px; background: #fff; font-size: 1.2em;}
.ui-draggable-helperStoped {border: 1px solid #000; width:5px; height:5px;}
#element{border:1px solid red}
a:focus { outline: none;}
.scroll-pane { overflow: auto; width: 99%; float:left; }
.scroll-content { width: 440px; float: left; }
.scroll-content-item { width: 70px; height: 70px; float: left; margin: 10px; font-size: 3em;  text-align: center; display: inline;}
* html .scroll-content-item { display: inline; } /* IE6 float double margin bug */
.scroll-bar-wrap { clear: left; padding: 0 2px 0 2px; margin: 0 -1px -1px -1px; background-color:#F1F1F1;}
.scroll-bar-wrap .ui-slider { background: none; border:0; height: 1.2em; margin: 0 auto;  }
.scroll-bar-wrap .ui-handle-helper-parent { position: relative; width: 100%; height: 100%; margin: 0 auto; }
.scroll-bar-wrap .ui-slider-handle { top:.2em; height: .7em; }
.scroll-bar-wrap .ui-slider-handle .ui-icon { margin: -8px auto 0; position: relative; top: 50%; }
.scroll-paneText { overflow: auto; width: 99%; float:left; }
.scroll-contentText { width: 640px; float: left; }
a:hover{text-decoration:underline;}
.fg-button { outline: 0; margin:0 4px 0 0; padding: .4em 1em; text-decoration:none !important; cursor:pointer; position: relative; text-align: center; zoom: 1;}
* html .fg-button {padding: 0.9em 0.5em;}
.fg-button .ui-icon { position: absolute; top: 50%; margin-top: -8px; left: 50%; margin-left: -8px; }
a.fg-button { float:left; }
button.fg-button { width:auto; overflow:visible; }
.fg-button-icon-left { padding-left: 2.1em; }
.fg-button-icon-right { padding-right: 2.1em; }
.fg-button-icon-left .ui-icon { right: auto; left: .2em; margin-left: 0; }
.fg-button-icon-right .ui-icon { left: auto; right: .2em; margin-left: 0; }
.fg-button-icon-solo { display:block; width:36px; text-indent: -9999px; }
html>body .fg-button-icon-solo { display:block; width:12px; text-indent: -9999px; }
.fg-toolbar { padding: .5em; margin: 0;}
.fg-toolbar .fg-buttonset { margin-right:1.5em; padding-left: 1px; }
.fg-toolbar .fg-button { font-size: 1em;  }
.ui-button { !important; cursor:pointer; padding: .1em 0em;}
.ui-corner-all{-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;}
div.sc_menu {position: relative;height: 115px;width: 100%;overflow:auto;}
.sc_menu li {display: block;float: left;padding: 0 4px;}
.sc_menu a {display: block;text-decoration: none;}
.sc_menu a:hover span {display: block;}
.sc_menu a:hover img {border: 3px #fff solid;filter:alpha(opacity=50);opacity: 0.5;}
#jobTitle{width:auto; padding-left:10px; padding-right:10px; cursor:default;float:left; margin-left:40%;}
#cloneNewImgShow{text-align:center;margin:0 auto 0 auto;z-index:0;position:relative;height:inherit;background-color:rgba(0,0,0,0.5);}
#IMG_show{background-color:#000000;position:absolute;top:0px;left:0px;}
#player{position:relative;width:422px;top:15px;left:100px;z-index:1;}
img.hiddenpic{display:none}
.ui-dialog-titlebar-close span.ui-button-text{visibility: hidden;}  
#buttonTopBar{padding:2px;height:20px;width:100%;position:fixed;bottom:0;left:0;z-index:99999999;-webkit-box-shadow: 0px -2px 0px 0px #DDDDDD;-moz-box-shadow: 0px -2px 0px 0px #DDDDDD;box-shadow: 0px -2px 0px 0px #DDDDDD;}
input.colorButton{width:25px; height: 20px;padding: 0;}
.ui-dialog{font-size: 12px;} 
.ui-dialog-title{font-size: 14px;}
.ui-dialog .ui-dialog-titlebar {padding: 0.3em;}
.ui-dialog .ui-dialog-titlebar-close span{margin: -1px; padding: 0px;}
.ui-dialog .ui-dialog-content {padding: 0.5em;}
#texto{width: 99%; height: 125px; border-radius: 4px; max-width:99%; min-width:99%; padding: 2px; resize: none;}
#botBarShow{position: fixed; bottom: 0; padding:6px 2px 2px 6px; border-top-left-radius: 8px; border-top-right-radius: 8px; border-bottom-left-radius: 0px;border-bottom-right-radius: 0px; height:25px;}
#buserDataText{margin-left: 50px; font-size: 10px; border: none;padding: 4px 2px 0 0;}
#bNewText span{padding-left: 2px;}
#bCloseButtonTopBarShow{margin-left: 10px;}